export GITOPS_REPO_URL=https://github.com/TylerHuntAtFanatics/kargo-demo

export GITHUB_TOKEN=$(gh auth token)
export GITHUB_USERNAME=$(gh api user | jq -r '.login')
export GITHUB_PAT=$(gh auth token)
